*{

    margin: 0;
    padding: 0;

    font-family: 'poppins','sans-serif';
}

body{
    color: #ededed;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10% 0 5%;
    background: #001a49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 30px;
    /*font-size: 2vw;*/
    float: left;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.logo :hover{
    color: var(--main-color);
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    /*font-size: 2vw;*/
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 55px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}


:root{
    --main-color: #0ef;
    --color2: #001b29;
}

.navbar a:hover{
    color: var(--main-color);

}


.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(img/bg2-gif.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 25px 5% 0;
    border-radius: 0 0 100px 0;

    

}


.home-content{
    max-width: 1000px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;

}


.home-content h3{
    font-size: 2.7vw;
    /*font-size: 32px;*/
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}

.home-content h3 span{
    color: var(--main-color)
}

.home-content h1{
    font-size: 3.3vw;
    /*font-size:56px;*/
    font-weight: 700;
    margin: -3px 0;
}

.home-content p{
    /*font-size: 20px;*/
    font-size: 2vw;
}

.home-scl a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;

}

.home-scl a:hover{
    background: var(--main-color);
    color: var(--color2);
    box-shadow: 0 0 20px var(--main-color);
}

.perfil{
    border-radius: 50%;
    /*width: 300%;
    height: 300%;*/
    box-shadow: 0 0 5px #00d4ff,
     0 0 25px #654495, 0 0 50px #654495,
    0 0 100px #654495, 0 0 200px #00d4ff;
    /*max-width: 100%;
    width: 500px; */ 

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.box-perfil{
    width: 100%;
    height: 100%;
    max-height: 350px;
    max-width: 960px;
    margin: 0 auto;
}


.btn-box{
    display: inline-block;
    padding: 12px 20px;
    background: var(--main-color);
    border-radius: 40px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color2);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}

@keyframes slideRight{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

        /* *********************/
        /* seccion S O B R E  M I */
        /* *********************/
        
        #sobremi {
            max-width: 90%;
            margin: auto;
            padding: 100px 15px;
            color: #111135;
            display: flex;
        }
       /* 
        #sobremi .contenedor-video {
            max-width: 1000px;
            margin-right: 50px;
        }
        
        #sobremi .contenedor-video iframe {
            padding: 5px;
            width: 100%;
            border-radius: 10px;
            background-color: #f3f3f3;
        }*/
        

.datos-personales{
    width: 100%;
    background-color: #239292;
    padding: 4%;
    border-radius: 10px;
    
}

.datos-personales:hover {
    box-shadow: 0 0 5px #00d4ff,
    0 0 15px #654495, 0 0 25px #654495,
   0 0 35px #654495, 0 0 45px #00d4ff;
}

.dt{
    color:white;
    font-weight: 600;
}

.sub-datos{
   
    color: white;  
    font-weight: 600;
    background: transparent;  
}



.info-datos{
    width: 100%;
    color: white;   
}

        #sobremi .sobremi {
            margin: 0 40px;
        }
        
        #sobremi .sobremi .titulo-seccion {
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        
        #sobremi .sobremi h2 {
            font-size: 34px;
            font-weight: bold;
            margin: 20px 0;
            letter-spacing: 2px;
        }
        
        #sobremi .sobremi h2 span {
            color: #239292;
        }
        
        #sobremi .sobremi h3 {
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
        
        #sobremi .sobremi p {
            font-size: 14px;
            line-height: 25px;
            color: #565656;
            margin-bottom: 12px;
        }
        
        #sobremi .sobremi a {
            display: inline-block;
            text-decoration: none;
            color: #000;
            border-radius: 30px;
            border: 1px solid #000;
            padding: 10px 20px;
            margin-top: 30px;
            transition: .5s;
        }
        
        #sobremi .sobremi a:hover {
            background-color: #ff5080;
            color: #fff;
        }

        .contenedor-datos{
            margin-top: 10px;
            width: 100%;
        }




          /* *********************/
        /* seccion S E R V I C I O S */
        /* *********************/
        
        #servicios {
            padding: 100px 15px;
            text-align: center;
            background-color: #f3f3f3;
        }
        
        #servicios .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        
        #servicios .fila {
            display: flex;
            justify-content: space-between;
            max-width: 1150px;
            margin: 30px auto;
        }
        
        #servicios .fila .servicio {
            max-width: 350px;
            background-color: #fff;
            padding: 30px;
            margin: 0 5px;
            border-radius: 5px;
            transition: .5s;
        }
        
        #servicios .fila .servicio:hover {
            box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
        }
        
        #servicios .fila .servicio .icono {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #d3d3d3;
            padding: 20px;
            margin-bottom: 25px;
        }
        
        #servicios .fila .servicio h4 {
            font-size: 22px;
            margin-bottom: 25px;
        }
        
        #servicios .fila .servicio hr {
            width: 30%;
            margin: auto;
            color: #000;
            margin-bottom: 25px;
        }
        
        #servicios .fila .servicio ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
        }
        
        #servicios .fila .servicio p {
            font-size: 14px;
            line-height: 22px;
        }
        /* *********************/
        /* seccion S K I L L S */
        /* *********************/
        
        .contenedor-skills {
            background: linear-gradient( #eb5a5acc, rgba(33, 16, 16, 0.8)), url("img/fondo-skills.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            background-position: center center;
            padding: 100px 0;
            text-align: center;
        }
        
        .contenedor-skills .skill {
            max-width: 600px;
            margin: 30px auto;
        }
        
        .contenedor-skills .skill .info {
            display: flex;
            justify-content: space-between;
        }
        
        .contenedor-skills .skill .lista {
            display: inline-block;
            margin-right: 20px;
            height: 10px;
            width: 10px;
            background-color: #fff;
        }
        
        .contenedor-skills .skill .barra {
            background-color: #919191;
            width: 100%;
            height: 6px;
            margin: 10px 0px;
        }
        
        .contenedor-skills .skill .barra .barra-progreso1 {
            background-color: #fff;
            width: 95%;
            height: 6px;
            animation: progreso1 2s forwards;
        }
        
        .contenedor-skills .skill .barra .barra-progreso2 {
            background-color: #fff;
            width: 90%;
            height: 6px;
            animation: progreso2 2s forwards;
        }
        
        .contenedor-skills .skill .barra .barra-progreso3 {
            background-color: #fff;
            width: 90%;
            height: 6px;
            animation: progreso3 2s forwards;
        }
        
        .contenedor-skills .skill .barra .barra-progreso4 {
            background-color: #fff;
            width: 85%;
            height: 6px;
            animation: progreso4 2s forwards;
        }

        .contenedor-skills .skill .barra .barra-progreso5 {
            background-color: #fff;
            width: 85%;
            height: 6px;
            animation: progreso5 2s forwards;
        }

        .contenedor-skills .skill .barra .barra-progreso6 {
            background-color: #fff;
            width: 80%;
            height: 6px;
            animation: progreso6 2s forwards;
        }
        
        .contenedor-skills .skill .barra .barra-progreso7 {
            background-color: #fff;
            width: 80%;
            height: 6px;
            animation: progreso7 2s forwards;
        }

        .contenedor-skills .skill .barra .barra-progreso8 {
            background-color: #fff;
            width: 86%;
            height: 6px;
            animation: progreso8 2s forwards;
        }

        @keyframes progreso1 {
            0% {
                width: 0;
            }
            100% {
                width: 70%;
            }
        }
        
        @keyframes progreso2 {
            0% {
                width: 0;
            }
            100% {
                width: 40%;
            }
        }
        
        @keyframes progreso3 {
            0% {
                width: 0;
            }
            100% {
                width: 50%;
            }
        }
        
        @keyframes progreso4 {
            0% {
                width: 0;
            }
            100% {
                width: 80%;
            }
        }

        @keyframes progreso5 {
            0% {
                width: 0;
            }
            100% {
                width: 85%;
            }
        }

        @keyframes progreso6 {
            0% {
                width: 0;
            }
            100% {
                width: 80%;
            }
        }

        @keyframes progreso7 {
            0% {
                width: 0;
            }
            100% {
                width: 80%;
            }
        }

        @keyframes progreso8 {
            0% {
                width: 0;
            }
            100% {
                width: 86%;
            }
        }

        /* *********************/
        /* seccion P O R T F O L I O */
        /* *********************/
        
        #portfolio {
            max-width: 1100px;
            padding: 100px 0;
            margin: auto;
        }
        
        #portfolio .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        
        #portfolio .fila {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
        }
        
        #portfolio .fila .proyecto {
            max-width: 450px;
            border: 1px solid #000;
            margin: 0 10px;
            position: relative;
            overflow: hidden;
        }
        
        #portfolio .fila .proyecto img {
            width: 100%;
            height: 100%;
            ;
            filter: grayscale(1);
            object-fit: cover;
            transition: .5s;
        }
        
        #portfolio .fila .proyecto:hover img {
            filter: grayscale(0);
        }
        
        #portfolio .fila .proyecto .info {
            position: absolute;
            left: 0px;
            background-color: rgba(0, 0, 0, 0.8);
            color: #ff5080;
            width: 100%;
            padding: 10px;
            opacity: 0;
            bottom: -40px;
            transition: .5s;
        }
        
        #portfolio .fila .proyecto:hover .info {
            opacity: 1;
            bottom: 0;
        }
        /* *********************/
        /* seccion C O N T A C T O */
        /* *********************/
        
        #contacto {
            padding: 100px 15px;
            background-color: #f3f3f3;
        }
        
        #contacto .titulo-seccion {
            margin-bottom: 20px;
        }
        
        #contacto .contenedor-form {
            max-width: 1100px;
            margin: auto;
        }
        
        #contacto .contenedor-form .fila {
            margin-bottom: 15px;
        }
        
        #contacto .contenedor-form .mitad {
            display: flex;
            justify-content: space-between;
        }
        
        #contacto .contenedor-form input,
        #contacto .contenedor-form textarea {
            padding: 20px;
            border-radius: 20px;
            border: none;
            border: 1px solid #919191;
        }
        
        #contacto .contenedor-form .mitad input {
            width: 48%;
        }
        
        #contacto .contenedor-form .input-full {
            width: 100%;
        }
        
        #contacto .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        
        #contacto .btn-enviar {
            display: block;
            margin: auto;
            cursor: pointer;
            transition: .5s;
            padding: 10px 15px !important;
        }
        
        #contacto .btn-enviar:hover {
            background-color: #ff5080;
            color: #fff;
        }
        /* *********************/
        /* seccion F O O T E R */
        /* *********************/
        
        footer {
            background-color: #000;
            color: #fff;
            text-align: center;
            padding: 30px 0;
        }
        
        footer a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            margin: 5px;
            font-size: 26px;
        }
        /* *********************/
        /* seccion R E S P O N S I V E */
        /* *********************/
        
        @media screen and (max-width: 800px) {
            .redes {
                display: none;
            }
            nav {
                display: none;
            }
            nav.responsive {
                display: block;
                background-color: rgba(0, 0, 0, .8);
                width: 100%;
                position: absolute;
                top: 48px;
                left: 0;
                padding: 10px 0;
            }
            nav.responsive ul {
                display: block !important;
                text-align: center;
            }
            nav.responsive ul li {
                margin: 5px 0;
            }
            #icono-nav {
                display: block;
            }
            #inicio .contenido .presentacion h2 {
                font-size: 40px;
            }
            /* seccion SOBRE MI */
            #sobremi {
                padding: 50px 0;
                display: block;
            }
            #sobremi .contenedor-foto {
                max-width: 200px;
                margin: auto;
            }
            #sobremi .contenedor-foto img {
                padding: 8px;
            }
            #sobremi .sobremi .titulo-seccion {
                text-align: center;
            }
            #sobremi .sobremi h2 {
                font-size: 25px;
                text-align: center;
            }
            /* seccion MIS SERVICIOS */
            #servicios {
                padding: 50px 15px;
            }
            #servicios .fila {
                display: block;
            }
            #servicios .fila .servicio {
                margin: 10px auto;
            }
            /* seccion HABLIDADES MI */
            .contenedor-skills {
                padding: 50px 20px;
            }
            /* seccion PORTFOLIO */
            #portfolio {
                padding: 50px 0;
            }
            #portfolio .fila {
                display: block;
            }
            #portfolio .fila .proyecto {
                margin: 10px auto;
            }
            /* seccion CONTACTO */
            #contacto {
                padding: 50px 15px;
            }
            #contacto .contenedor-form .mitad {
                margin-bottom: 15px;
                display: block;
            }
            #contacto .contenedor-form .mitad input {
                width: 100%;
                margin-bottom: 15px;
            }
        }